.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }
  
.loader {
    border: 20px solid #f3f3f3;
    border-radius: 90%;
    border: 20px solid ;
    border-top: 20px solid #6e48aa;
    border-right: 20px solid white;
    border-bottom: 20px solid #6e48aa;
    border-left: 20px solid white;
    width: 150px;
    height: 150px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    }
  
@-webkit-keyframes spin {
0% {
    -webkit-transform: rotate(0deg);
    }
100% {
    -webkit-transform: rotate(360deg);
    }
    }
  
@keyframes spin {
0% {
    transform: rotate(0deg);
    }
100% {
    transform: rotate(360deg);
    }
    }
